// font-family: "ABCSerif","Book Antiqua","Palatino Linotype",Palatino,serif;
// font-family: "ABCSans","Interval Sans Pro",Arial,Helvetica,sans-serif;

@font-face {
  font-family: 'ABCSans';
  font-weight: normal;
  font-style: normal;
  src: url("/res/fonts/abcsans/abcsans-regular.woff2")
      format("woff2"),
    url("/res/fonts/abcsans/abcsans-regular.woff")
      format("woff");
}
@font-face {
  font-family: 'ABCSans';
  font-weight: normal;
  font-style: italic;
  src: url("/res/fonts/abcsans/abcsans-regularitalic.woff2")
      format("woff2"),
    url("/res/fonts/abcsans/abcsans-regularitalic.woff")
      format("woff");
}
@font-face {
  font-family: 'ABCSans';
  font-weight: bold;
  font-style: normal;
  src: url("/res/fonts/abcsans/abcsans-bold.woff2")
      format("woff2"),
    url("/res/fonts/abcsans/abcsans-bold.woff")
      format("woff");
}
@font-face {
  font-family: 'ABCSerif';
  font-weight: normal;
  font-style: normal;
  src: url("/res/fonts/abcserif/abcserif-regular.woff2")
      format("woff2"),
    url("/res/fonts/abcserif/abcserif-regular.woff")
      format("woff");
}
@font-face {
  font-family: 'ABCSerif';
  font-weight: normal;
  font-style: italic;
  src: url("/res/fonts/abcserif/abcserif-regular_italic.woff2")
      format("woff2"),
    url("/res/fonts/abcserif/abcserif-regular_italic.woff")
      format("woff");
}
@font-face {
  font-family: 'ABCSerif';
  font-weight: bold;
  font-style: normal;
  src: url("/res/fonts/abcserif/abcserif-bold.woff2")
      format("woff2"),
    url("/res/fonts/abcserif/abcserif-bold.woff")
      format("woff");
}

.wrapper {
  // font-family: "ABCSans","Interval Sans Pro",Arial,Helvetica,sans-serif;
}

