.wrapper {
  text-align: center;
}

.responsive-container {
  max-width: 800px;
  margin: auto;
}

.scaling-svg-container {
  position: relative; 
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;
  /* override this inline for aspect ratio other than square */
}
.scaling-svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.year-labels {
  font-size: 30px;
  @media screen and (min-width: 700px) {
    font-size: 26px;
  }
}

.place-names {
  font-family: "ABCSans","Interval Sans Pro",Arial,Helvetica,sans-serif;
  font-weight: bold;
  fill: #2E3638;
  font-size: 26px;
  @media screen and (min-width: 700px) {
    font-size: 20px;
  }
}

.key {
  font-family: "ABCSans","Interval Sans Pro",Arial,Helvetica,sans-serif;
  font-weight: bold;
  color: #2E3638;
  margin-bottom: 2rem;
  font-size: 16px;
  line-height: 1.3em;
  @media screen and (min-width: 700px) {
    font-size: 20px;
  }
  div {
    display: inline-block;
    max-width: 38%;
  }
}

// img {
//   -webkit-clip-path: url(#ausClip);
//   clip-path: url(#ausClip);
//   width: 400px;
// }