.wrapper {
  text-align: center;
}

.responsive-container {
  max-width: 600px;
  margin: auto;
}

.scaling-svg-container {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;
  /* override this inline for aspect ratio other than square */
}
.scaling-svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.fill {
  fill: #E1F5FA;
}

.stroke {
  // fill: none;
  stroke: #5C6C70;
  stroke-width: 0.5px;
}

.label {
  font-size: 18px;
  @media screen and (min-width: 700px) {
    font-size: 14px;
  }
  background-color: white;
}